/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("./image/download.jfif") !important;
    background-size: cover;
    background-position: top;
    position: relative;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-style {
    background-color: green;
    color: white;
}